html {
  font-size: 62.5%; }

body {
  margin: 0;
  background-color: #fcfcfc;
  font-family: "Open Sans", sans-serif; }

header {
  background-color: #fcfcfc;
  font-family: "Montserrat", sans-serif;
  color: #3d3d3d;
  box-shadow: 0 -10px 40px black; }

.headerContainer {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden; }

h1 {
  float: left;
  font-size: 3.1rem;
  margin: 35px 0 0;
  padding-left: 20px; }

ul {
  float: right;
  list-style-type: none;
  margin-top: 40px; }

li {
  display: inline-block;
  padding: 5px 15px;
  font-size: 2.1rem; }

li:hover {
  background-color: #3d3d3d;
  color: #fcfcfc; }

.videoContainer {
  width: 100%;
  max-height: 80vh;
  overflow: hidden;
  position: relative; }

.videoPlayback {
  top: 0;
  left: 0;
  width: 100%; }

.skyline {
  background-image: url("../images/skyline.png");
  height: 180px;
  width: 100%;
  position: absolute;
  bottom: 0; }

.modalBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99997;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }

.modalBackground:target {
  opacity: 1;
  pointer-events: auto; }

.closeModal {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99998;
  cursor: default; }

.video {
  position: relative;
  z-index: 999999; }

.videoModal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 99999; }

.informationContainer {
  max-width: 1280px;
  margin: 0 auto; }

h2 {
  font-family: "Montserrat", sans-serif;
  color: #3d3d3d;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 75px; }

.informationText {
  color: #3d3d3d;
  max-width: 600px;
  font-size: 1.6rem;
  padding: 15px;
  border-left: 2px solid #3d3d3d; }

.informationContainer > div {
  overflow: hidden; }

.informationBox:nth-child(2) > .informationText {
  float: left; }

.informationBox:nth-child(2) > img {
  float: right; }

.informationBox > .informationText {
  float: right; }

.projectContainer {
  max-width: 1280px;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 50px 0 100px;
  overflow: auto;
  text-align: center; }

.ciclovivaBackground {
  background-color: #fd706b;
  margin-top: 50px; }

.BikeoutBackground {
  background-image: url("../images/bikeoutpattern.png");
  background-repeat: repeat;
  background-size: 262px; }

.atiaiaBackground {
  background-image: url("../images/atiaiapattern.jpg");
  background-repeat: repeat;
  background-size: 900px; }

.pistaspBackground {
  background-color: #e74755; }

.textBox {
  width: 500px;
  margin-top: 20px; }

.textBox > p {
  display: inline-block;
  margin: 5px;
  padding: 3px 6px; }

.ciclovivaText {
  color: #fd706b;
  background-color: #fcfcfc; }

.bikeoutText {
  color: #393c3c;
  background-color: #fcfcfc; }

.godailyText {
  color: #fcfcfc;
  background-color: black; }

.atiaiaText {
  color: #393c3c;
  background-color: #fcfcfc; }

.pistaSPText {
  color: #e74755;
  background-color: #fcfcfc; }

.project:nth-child(even) {
  position: relative;
  z-index: 1; }
  .project:nth-child(even):before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .project:nth-child(even):before {
    top: 0;
    transform: skewY(1deg);
    transform-origin: 100% 0; }

.project:nth-child(odd) {
  position: relative;
  z-index: 1; }
  .project:nth-child(odd):before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .project:nth-child(odd):before {
    top: 0;
    transform: skewY(-1deg);
    transform-origin: 0 0; }

.project:nth-child(even) .projectInformation {
  float: right;
  margin-top: 0; }

.project:nth-child(odd) .projectInformation {
  float: left;
  margin-top: 0; }

.project:nth-child(even) .pdfViewer {
  float: left; }

.project:nth-child(odd) .pdfViewer {
  float: right; }
