$primary-color: #fcfcfc;
$secondary-color: #3d3d3d;
$fontTitle: 'Montserrat', sans-serif;
$fontText: 'Open Sans', sans-serif;
@mixin angle($pseudo, $flip: false, $angle: 1.5deg) {
  // Possible values for $pseudo are: before, after, both
  @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
    position: relative;
    z-index: 1;
    $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

    #{$selector} {
      background: inherit;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      -webkit-backface-visibility: hidden; // for Chrome Windows
    }

    @if $pseudo == 'before' {
      #{$selector} {
        top: 0;
        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        }
        @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }
    }

    @if $pseudo == 'after' {
      #{$selector} {
        bottom: 0;
        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 100%;
        }
        @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }

    @if $pseudo == 'both' {
      &:before {
        top: 0;
        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        }
        @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }

      &:after {
        bottom: 0;
        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 0;
        }
        @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }
  }
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: $primary-color;
  font-family: $fontText;
}

header {
  background-color: $primary-color;
  font-family: $fontTitle;
  color: $secondary-color;
  box-shadow: 0 -10px 40px black;
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
}

.headerContainer {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

h1 {
  float: left;
  font-size: 3.1rem;
  margin: 35px 0 0;
  padding-left: 20px;
}

ul {
  float: right;
  margin-top: 40px;
}

li {
  display: inline-block;
  font-size: 2.4rem;
}

li a:hover {
  background-color: $secondary-color;
  color: $primary-color;
}

li a {
  text-decoration: none;
  padding: 10px 15px;
  color: $secondary-color;
}

.videoContainer {
  width: 100%;
  max-height: 80vh;
  overflow: hidden;
  position: relative;
  margin-top: 75px;
}

.videoPlayback {
  top: 0;
  left: 0;
  width: 100%;
}

.skyline {
  background-image: url("../images/skyline.png");
  height: 180px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.modalBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99997;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.openModal {
  cursor: pointer;
}

.closeModal {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99998;
  cursor: default;
}

.video {
  position: relative;
  z-index: 999999;
}

.videoModal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 99999;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

h2 {
  font-family: $fontTitle;
  color: $secondary-color;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 75px;
}

.informationText {
  color: $secondary-color;
  max-width: 600px;
  font-size: 1.6rem;
  padding: 15px;
  border-left: 2px solid $secondary-color;
}

.container > div {
  overflow: hidden;
}

.informationBox:nth-child(2) > .informationText {
  float: left;
}

.informationBox:nth-child(2) > img {
  float: right;
}

.informationBox > .informationText {
  float: right;
}

.projectContainer {
  max-width: 1280px;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 50px 0 100px;
  overflow: auto;
  text-align: center;
}

.ciclovivaBackground {
  background-color: #fd706b;
  margin-top: 50px;
}

.bikeoutBackground {
  background-color: #393c3c;
}

.godailyBackground {
  background-color: #ebeff0;
}

.atiaiaBackground {
  background-color: #2a292a;
}

.pistaspBackground {
  background-color: #e74755;
}

.textBox {
  width: 500px;
  margin-top: 20px;
}

.textBox > p {
  display: inline-block;
  margin: 5px;
  padding: 3px 6px;
}

.ciclovivaText {
  color: #fd706b;
  background-color: $primary-color;
}

.bikeoutText {
  color: #393c3c;
  background-color: $primary-color;
}

.godailyText {
  color: $primary-color;
  background-color: black;
}

.atiaiaText {
  color: #393c3c;
  background-color: $primary-color;
}

.pistaSPText {
  color: #e74755;
  background-color: $primary-color;
}

.project:nth-child(even) {
  @include angle(both, false, 1deg);
}

.project:nth-child(odd) {
  @include angle(both, true, 1deg);
}

.project:nth-child(even) .projectInformation {
  float: right;
  margin-top: 0;
}

.project:nth-child(odd) .projectInformation {
  float: left;
  margin-top: 0;
}

.project:nth-child(even) .pdfViewer {
  float: left;
}

.project:nth-child(odd) .pdfViewer {
  float: right;
}

h3 {
  font-family: $fontTitle;
  color: $primary-color;
  font-size: 2.6rem;
  text-align: center;
  padding: 10px;
  background-color: $secondary-color;
}

.participantsAlign {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.participants {
  padding: 8px 15px;
  color: $primary-color;
  background-color: $secondary-color;
  font-family: $fontText;
  font-size: 1.8rem;
  margin: 8px 9px;
  width: 360px;
}

.bold {
  font-weight: 800;
}

footer {
  background-color: $secondary-color;
  height: 180px;
  margin-top: 50px;
  font-family: $fontText;
  color: $primary-color;
  font-size: 1.8rem;
  overflow: auto;
}

.developed {
  margin: 20px 0 7px;
}

.designer {
  font-family: $fontText;
  color: $secondary-color;
  background-color: $primary-color;
  margin: 3px;
  display: table;
  padding: 2px 5px;
  font-size: 1.6rem;
  margin-left: 40px;
}
